
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12" style="color: black;">

        <div class="card shadow-sm">
            <div class="card-body">
                

                @*<div id="dvPrimeiraFase">

                        @Html.Partial("_lstJogos", ViewData["Jogos"])
                    </div>*@

                <div id="dvMontado">
                    @Html.Partial("_lstJogosMontada", ViewData["Jogos"])
                </div>
                

            </div>
        </div>

    </div>
</div>


